<% notifs.forEach(function(notif){ %>
  <li <%- notif.read==false?'style="background-color:rgba(216, 27, 96, 0.4);"':'' %>>
  <% if(notif.type=="new-follower"){ %>
    <a href="/users/<%- encodeURIComponent(req.user.username) %>/followers">
      <i class="fa fa-users text-aqua"></i> You now have <%- req.user.followers.length %> followers.
    </a>
  <% }else if(notif.type=="following-new-code"){ %>
    <a href="/code/<%- encodeURIComponent(notif.content.username) %>/<%- encodeURIComponent(notif.content.code_url) %>">
      <i class="fa fa-users text-aqua"></i> <b><%- notif.content.full_name %></b> added a new code - <%- notif.content.code_title %>.
    </a>
  <% }else if(notif.type=='added-as-contact'){ %>
    <a href="/profile?user=<%- encodeURIComponent(notif.content.username) %>">
      <i class="fa fa-users text-aqua"></i> <b><%- notif.content.full_name %></b> added you as a contact.
    </a>
  <% }else if(notif.type=='code-liked'){ %>
    <a href="/code/<%- encodeURIComponent(notif.content.username) %>/<%- encodeURIComponent(notif.content.code_url) %>">
      <i class="fa fa-users text-aqua"></i> Your code <b><%- notif.content.title %></b> now has <%- notif.content.likes %> likes.
    </a>
  <% } %>
  </li>
<% }) %>