<!DOCTYPE html>
<html>
<head>
<%- include('components/header',{title:'Home Page',includes:[]}) %>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="mailApp" ng-controller="mailController" ng-cloak>
<div class="wrapper">
  <%- include('components/navbar') %>
  
  <%- include('components/sidebar',{active:'dashboard',active_sub:''}) %>
  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>What would you like to do</small>
      </h1>
    </section>

    <section class="content">
    <form action="/upload-profile-pic" method="post" enctype="multipart/form-data">
      <input type="file" name="profilepic">
      <input type="submit" value="upload">
    </form>
      <div class="row">
        <!-- <div class="col-md-3">
          <div style="display:block">
            <div class="info-box">
              <span class="info-box-icon bg-green"><i class="fa ion-person-stalker"></i></span>
              <div class="info-box-content">
                <span class="info-box-text"><h4><a href="/friends" class="btn btn-success" style="width:100%">My friends</a></h4></span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-3"><a href="/friends" class="btn bg-maroon btn-block btn-flat" style="width:100%"><h1><i class="fa fa-users"></i></h1><h4>Friends</h4></a></div>
        <div class="col-md-3"><a href="/codes" class="btn bg-maroon btn-block btn-flat" style="width:100%"><h1><i class="fa fa-file-code-o"></i></h1><h4>My Codes</h4></a></div>
        <div class="col-md-3"><a href="/newcode" class="btn bg-maroon btn-block btn-flat" style="width:100%"><h1><i class="fa fa-plus"></i> <i class="fa fa-file-code-o"></i></h1><h4>Create new Code</h4></a></div>
        <div class="col-md-3"><a href="/compose" class="btn bg-maroon btn-block btn-flat" style="width:100%"><h1><i class="fa fa-plus"></i> <i class="fa fa-envelope"></i></h1><h4>Create new message</h4></a></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Notifications</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <%- include('./components/navbar/notification') %>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Leaderboard</h3> <span class="text-primary"><% if(req.isAuthenticated()){ %>( your rank : <% leaderboard.forEach(function(leader,index){if(leader.username==user.username){ %><%= index+1 %><% }}) %> )<% } %></span>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th>Rank</th>
                    <th>User name</th>
                    <th>Points</th>
                  </tr>
                  <% leaderboard.forEach(function(leader,index){if(index<10){ %>
                  <tr>
                    <td>#<%- index+1 %></td>
                    <td><a style="display:block" href="/profile?user=<%- encodeURIComponent(leader.username) %>"><b><%= leader.username %></b> <div class="text-muted"><%= leader.full_name %></div></a></td>
                    <td><%- leader.totalLikes %></td>
                  </tr>
                  <% }}) %>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>

  </div>
  
  <%- include('components/footer') %>
  
</div>

<%- include('components/footer-scripts',{includes:['slimscroll','fastclick','app','demo','script-mails']}) %> 
<script type="text/javascript">
  app.controller('mailController2',function($scope,$http){
    
  });
</script>
</body>
</html>
