<!DOCTYPE html>
<html>
<head>
<%- include('components/header',{title:'CODEBook : Friends list',includes:[]}) %>

<style type="text/css">
.friend img{
  height: 67px;
  border: 1px solid #E0E0E0;
}

.friend .full-name{
  padding-top: 31px;
}

.friend .btn{
  margin-top: 16px;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="mailApp" ng-controller="mailController" ng-cloak>
<div class="wrapper">
  <%- include('components/navbar') %>
  
  <%- include('components/sidebar',{active:'dashboard',active_sub:''}) %>
  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Friends
        <small>Notifications</small>
      </h1>
    </section>

    <section class="content row">
      <div class="col-md-8">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Frinds List</h3>
            <div class="box-tools">
              <div class="input-group input-group-sm" style="width: 400px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search for your friends">

                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
                <% friends.forEach(function(friend){ %>
                  <tr class="friend">
                    <td><a href="/profile?user=<%- friend.username %>"><img src="<%- cloudinary.url(friend.profile_pic_url) %>"></a></td>
                    <td class="full-name"><a href="/profile?user=<%- friend.username %>"><%= friend.full_name %></a></td>
                    <td><a href="/compose" class="btn btn-default">View Profile</a></td>
                    <td><a href="/compose?to=<%- friend.username %>" class="btn btn-success">Message</a></td>
                    <td><a href="/compose" class="btn btn-warning">Remove</a></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

  </div>
  
  <%- include('components/footer') %>
  
</div>

<%- include('components/footer-scripts',{includes:['slimscroll','fastclick','app','demo','script-mails']}) %> 
<script type="text/javascript">
  app.controller('mailController2',function($scope,$http){
    
  });
</script>
</body>
</html>
