<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<%- include('components/header',{title:'Profile'}) %>
</head>
<% if(!req.isAuthenticated()){ %>
  <body class="skin-blue layout-top-nav" ng-app="mailApp" ng-controller="mailController" ng-cloak>
  <div class="wrapper">
    <%- include('components/navbar-anonymous') %>
<% }else{ %>
  <body class="hold-transition skin-blue sidebar-mini" ng-app="mailApp" ng-controller="mailController" ng-cloak>
  <div class="wrapper">
  <%- include('components/navbar') %>
  <%- include('components/sidebar',{active:'profile',active_sub:''}) %>
<% } %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <div><img class="profile-user-img img-responsive img-circle" src="<%- cloudinary.url(profile.profile_pic_url) %>" alt="User profile picture">
              <div></div>
              </div>
              
              <h3 class="profile-username text-center"><%= profile.full_name %></h3>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b><a href="/users/<%- encodeURIComponent(profile.username) %>/followers">Followers</a></b> <a class="pull-right"><%= profile.followers.length %></a>
                </li>
                <li class="list-group-item">
                  <b><a href="/users/<%- encodeURIComponent(profile.username) %>/following">Following</a></b> <a class="pull-right"><%= profile.following.length %></a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right"><%= profile.friends.length %></a>
                </li>
              </ul>
              <% if(auth && !me){ %>
              <a href="/follow?user=<%- encodeURIComponent(profile.username) %>&redirect=<%= encodeURIComponent(req.originalUrl) %>" class="btn btn-primary btn-block"><b><%= isFollowing?'Unfollow':'Follow' %></b></a>
              <a href="/toggleContact?user=<%- encodeURIComponent(profile.username) %>&redirect=<%= encodeURIComponent(req.originalUrl) %>" class="btn btn-primary btn-block"><b><%= isFriend?'Remove from Contact':'Add to contact' %></b></a>
              <% } %>
              <a href="/compose?to=<%- encodeURIComponent(profile.username) %>" class="btn btn-primary btn-block"><b>Message</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <div style="display:none" id="education-textarea">
                  <textarea  style="width:100%" type="text" ng-model="education" ng-init="education='B.S. in Computer Science from the University of Tennessee at Knoxville'" >
                  </textarea>
              </div>
              <p id="education-text" class="text-muted" ng-bind="education">
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">Malibu, California</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="<%- req.query.tab!='settings'?'active':'' %>"><a href="#codes" data-toggle="tab">Codes</a></li>
              <% if(me){ %><li class="<%- req.query.tab=='settings'?'active':'' %>"><a href="#settings" data-toggle="tab">Settings</a></li><% } %>
            </ul>
            <div class="tab-content">
              <div class="tab-pane <%- req.query.tab!='settings'?'active':'' %>" id="codes">
                <%- include('./components/code/codesList') %>
              </div>
              <!-- /.tab-pane -->
              <% if(me){ %>
              <div class="tab-pane <%- req.query.tab=='settings'?'active':'' %>" id="settings">
                <form class="form-horizontal" action="/updateUserSettings" method="post">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                      <input type="text" name="full_name" value="<%- user.full_name %>" class="form-control" id="inputFullName" placeholder="Full Name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" name="email" value="<%- user.email %>" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                      <input style="margin-bottom:5px" type="password" name="prevPass" class="form-control" placeholder="Original Password">
                      <input style="margin-bottom:5px" type="password" name="newPass" class="form-control" placeholder="New Password">
                      <input type="password" name="confPass" class="form-control" placeholder="Confirm Password">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
              <% } %>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>

  <%- include('components/footer') %>
  
</div>


<%- include('components/footer-scripts',{includes:['slimscroll','fastclick','app','demo','script-mails']}) %>
<script type="text/javascript">
function run(){
  <% 
  var error_message = req.flash("error_message");
  var success_message = req.flash("success_message"); %>
  <% if(error_message.length>0){ %>
    $.notify("<%- error_message %>","error");
  <% } %>
  <% if(success_message.length>0){ %>
    $.notify("<%- success_message %>");
  <% } %>
  
}
</script>
<% if(req.isAuthenticated()){ %>
  <script>
  app.controller('mailController2',function($scope,$http){
    run();
  });
  </script>
<% }else{ %>
  <script>
  var app = angular.module('mailApp',[]);
  app.controller('mailController',function($scope,$http){
    run();
  });
  </script>
<% } %>

<script>
$("#education-text").click(function(e){
  $("#education-textarea").css("display","");
  $("#education-text").css("display","none");
});

$("#education-textarea").focusout(function(e){
  $("#education-textarea").css("display","none");
  $("#education-text").css("display","");
});
</script>
</body>
</html>
