<!DOCTYPE html>
<html>
<head>
  <%- include('components/header',{title:'Register to EmailApp',includes:['icheck']}) %>
</head>
<body class="hold-transition register-page layout-top-nav skin-blue">

    <%- include('./components/navbar-anonymous',{active:'register'}) %>
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>CODE</b>Share</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form action="/register" method="post">
      <% if (message.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
          <%= message %>
        </div>
      <% } %>
      <div class="form-group has-feedback <%- error_field=='username'?'has-error':'' %>">
        <input type="text" class="form-control" placeholder="username" name="username" value="<%- username %>">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback <%- error_field=='full_name'?'has-error':'' %>">
        <input type="text" class="form-control" placeholder="Full name" name="full_name" value="<%- full_name %>">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback <%- error_field=='email'?'has-error':'' %>">
        <input type="email" class="form-control" placeholder="Email" name="email" value="<%- email %>">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Registration No." name="regno" value="15BIT0166">
      </div>
      <div class="form-group has-feedback <%- error_field=='password'?'has-error':'' %>">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback <%- error_field=='password'?'has-error':'' %>">
        <input type="password" name="confirmPass" class="form-control" placeholder="Retype password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <% if(redirect!=undefined) {%>
        <input type="hidden" value="<%= redirect %>" name="redirect">
      <% } %>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <!-- <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a> -->
    </div>

    <a href="/login" class="btn bg-olive btn-flat" style="width:100%">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<%- include('components/footer-scripts',{includes:['icheck']}) %>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
