<!DOCTYPE html>
<html>
<head>
<%- include('components/header',{title:code.title+' - CODEBook',includes:[]}) %>
</head>

<% if(!req.isAuthenticated()){ %>
  <body class="skin-blue layout-top-nav" ng-app="mailApp" ng-controller="mailController" ng-cloak>
  <div class="wrapper">
    <%- include('components/navbar-anonymous') %>
<% }else{ %>
  <body class="hold-transition skin-blue sidebar-mini" ng-app="mailApp" ng-controller="mailController" ng-cloak>
  <div class="wrapper">
  <%- include('components/navbar') %>
  <%- include('components/sidebar',{active:'',active_sub:''}) %>
<% } %>

  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= code.title %>
        <small><%= owner.full_name %></small>
      </h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-4">

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Description</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a><i class="fa fa-circle-o text-red"></i> Title : <%= code.title %></a></li>
                <li><a><i class="fa fa-circle-o text-red"></i> Views : <%- code.views %></a></li>
                <li><a><i class="fa fa-circle-o text-red"></i> Description :<br> <%- escape(code.description) %></a></li>
                <li><a href="/profile?user=<%- encodeURIComponent(code.owner.username) %>"><i class="fa fa-circle-o text-red"></i> Owner : <%= code.owner.full_name %></a></li>
                <li><a><i class="fa fa-circle-o text-red"></i> Likes : <%- code.likes %></a></li>
              </ul>
              <a href="#comment" style="width:100%" class="btn btn-success btn-flat">Comment</a>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="col-md-8">
          <div class="box">
            <div class="box-header with-border"><h3 class="box-title">Code</h3><a style="margin-left:20px" class="btn btn-primary btn-flat" onClick="showCopyDialog()">Copy</a>
              <div class=" box-tools pull-right">
                <div class="btn-group like">
                  <% if(req.isAuthenticated()){ %>
                  <button type="button" ng-click="toggleLike()" ng-disabled="liking" class="btn btn-success toggle-like">{{liked?'Unlike':'Like'}}</button>
                  <% }else{ %>
                  <a type="button" href="/login?redirect=<%= encodeURIComponent(req.originalUrl) %>" class="btn btn-success toggle-like">Like</a>
                  <% } %>
                  <a type="button" class="btn btn-default">{{likes}}</a>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div id="editor"><%- code.content.split("<").join("<span><</span>") %></div>
            </div>
            <div class="box-footer">
              <% code.comments.forEach(function(comment){ %>
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                  <a href="/profile?user=<%- comment.commentor.username %>"><img style="height:70px;" src="<%- cloudinary.url(comment.commentor.profile_pic_url) %>"></a>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <div style="padding-left:10px;"><a href="/profile?user=<%- comment.commentor.username %>" ><strong><%= comment.commentor.full_name %></strong></a> <%= comment.content %></div>
                </div>
              </div>
              <br>
              <% }) %>
              <% if (req.isAuthenticated()){ %>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                  <img src="<%- cloudinary.url(user.profile_pic_url) %>" style="width:60px;border:1px solid grey">
                </div>
                <div id="comment" class="col-xs-11 col-sm-11 col-md-11 col-lg-11" style="padding-bottom:5px;">
                  <form method="post" action="/postComment?redirect=<%= encodeURIComponent(req.originalUrl) %>">
                    <input type="hidden" value="<%- code._id.toString() %>" name="id">
                    <textarea name="content" class="form-control" rows="3" placeholder="Enter comment"></textarea>
                    <div style="height:5px"></div>
                    <input type="submit" class="btn btn-primary pull-right" value="Submit"></input>
                  </form>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      
    </section>

  </div>
  
  <%- include('components/footer') %>
  
</div>

<div class="modal" id="copyDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>COPY</h3> Press Ctrl + c to copy and close the dialog
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button> 
      </div>
      <div class="modal-body">
        <textarea id="codeCopyTextarea" class="form-control" rows="10" placeholder="CODE AREA"></textarea>
      </div>
    </div>
  </div>
</div>
    
    
<%- include('components/footer-scripts',{includes:['slimscroll','fastclick','app','demo','script-mails','ace']}) %>

<script type="text/javascript">
var owner_username = "<%- owner.username %>";
var codeUrl = "<%- code.url %>";
var codeId = "<%- code._id.toString() %>";

var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");
editor.setOption("maxLines", 100);
editor.setOption("minLines", 26);

function controller($scope,$http){
    $scope.likes = <%- code.likes %>;
}
</script>

<script>
  function showCopyDialog(){
    //window.prompt("Copy to clipboard: Ctrl+C, Enter", editor.getValue());
    $("#copyDialog").modal("show");
    $("#codeCopyTextarea").val(editor.getValue()).select();
  }
<% if(req.isAuthenticated()){ %>
  app.controller('mailController2',function($scope,$http,$httpParamSerializerJQLike){
    controller($scope,$http);
    $scope.liked = <%- liked.toString() %>;
    $scope.liking = false;
    $scope.toggleLike = function(){
      $scope.liking = true;
      $http({
        method  : 'POST',
        url     : "/api/likeCode",
        data    : $httpParamSerializerJQLike({codeId:codeId,like:!$scope.liked}), //forms user object
        headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
      }).success(function(data){
        if(data.success){
          $scope.likes += $scope.liked ? -1 : 1;
          $scope.liked = !$scope.liked;
        }else{
          $.notify("Unable to like/dislike","error");
        }
        $scope.liking = false;
      })
      .error(function(data){
        $.notify("Unable to like/dislike","error");
        $scope.liking = false;
      });
    };
  });
  </script>
<% }else{ %>
  var app = angular.module('mailApp',[]);
  app.controller('mailController',function($scope,$http){
    controller($scope,$http);
  });
  </script>
<% } %>


</body>
</html>
