<div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <tbody>
      <% topCodes.forEach(function(code,index){if(code.match==undefined || code.match==true){ %>
        <tr class="code">
          <td><a href="/profile?user=<%- encodeURIComponent(code.owner.username) %>"><img src="<%-  %>"></a></td>
          <td width="20%"><a class="title" href="/code/<%- code.owner.username %>/<%- code.url %>"><h5><b><%= code.title %></b></h5></a> </td>
          <td><a class="title" href="/profile?user=<%- encodeURIComponent(code.owner.username) %>"><h5><%= code.owner.full_name %></h5></a> </td>
          <td class="language"><div><%= code.language.capitalize() %></div></td>
          <td class="likes"><div><i class="fa fa-heart"></i> <%- code.likes %></div></td>
          <td class="views"><div><i class="fa fa-eye  "></i> <%- code.views %></div></td>
        </tr>
      <% }}) %>
    </tbody>
  </table>
</div>